* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
header {
    background: rgb(124, 164, 167);
    padding: 10px;
    border: 4px solid rgb(97, 128, 129);
}
h1 {
    color: white;
    text-align: center;
}
h2 {
    margin-left: 50px;
}

footer {
    background: rgb(124, 164, 167);
    color: white;
    text-align: center;
    padding: 10px;
    border: 4px solid rgb(97, 128, 129);
    position: fixed;
    width: 100%;
    bottom: 0;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
}
table, th, td {
    border: 2px solid black;
}
th, td {
    text-align: center;
    background-color: #999999;
    color: #ffffff;
    padding: 5px;
}