body {
    background-color: #ffeffF;
    color: rgb(00, 255, 00);
}
h1 {
    text-align: center;
    padding: 15px;
    border: 4px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.one {
    border-radius: 25px;
}

#two {
    border-style: dotted;
}
